//compress:true
/*///////////////////////////////////////////////////////////////////////////////////////////*/


/* RESPONSIVE CSS */


/*///////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width:1441px) {

	.header-boxed-width .container-boxed-width.container {
		max-width: 1820px !important;
	}
	.b-advantages-1_mod-a {
		padding-left: 50px;
		padding-right: 70px;
	}
	.b-advantages-1_mod-a .b-advantages__title {
		padding-right: 100px;
	}
	.b-advantages-1_mod-a .b-advantages__icon {
		right: 120px;
	}
}


/* end 1441px */

@media (max-width:1350px) {
	.l-theme {
		padding-left: 0;
		padding-right: 0;
	}
	.header {
		left: 0;
		right: 0;
	}
}

/* end 1350px */

@media (min-width:1199px) and (max-width:1350px) {}

/* end 1199px-1350px */

@media (min-width:992px) and (max-width:1199px) {}

@media (max-width: 1220px) {
	.header-navibox-2 {
		margin-left: 10px;
	}
	.bl {
		width: 100%;
		padding: 20px;
	}
	.holder img {
		display: inline;
		margin-bottom: 20px;
	}
	.holder {
		text-align: center;
	}
}
/* end 992px-1199px */

@media (max-width:1199px) {
	.block-table_lg {
		display: block;
	}
	.section-first_type-1 .section-first__img-group {
		margin-top: 40px;
	}
	.section-first_type-1 .ui-title-bg {
		margin-top: 70px;
	}
	.b-info__inner {
		margin-right: 0;
		margin-left: 0;
	}
	.b-brands-2 {
		padding-right: 50px;
		padding-left: 50px;
	}
}

@media (max-width: 1130px) {
	.navbar .main-menu>li {
		margin-left: 12px;
		margin-right: 12px;
	}
}





@media (max-width: 1050px) {
	.connected-carousels .prev-navigation {
		left: -35px;
	}
	.connected-carousels .next-navigation {
		right: -33px;
	}
}





/* end 1199px */

@media (max-width: 1000px) {

	.s-links {
		float: none;
		margin-left: 10px;
		margin-top: 30px;
	}
	.header.header.navbar-scrolling .navbar-brand {
		padding-top: 17px;
	}
	// .navbar-fixed-top,
	.navbar-fixed-bottom {
		position: absolute!important;
	}
	.block-table__inner {
		width: 100%;
		text-align: center;
	}
	.section-form-1__img {
		padding-left: 0;
	}
	// .main-slider__title,
	// .sp-slide p,
	// .yamm li a,
	.b-isotope-grid__title,
	.b-isotope-grid__categorie {
		font-family: 'Vidaloka', serif;
	}
}

.section-form-1 {
	padding-top: 77px;
}

@media (max-width:991px) {
	.tilter__figure::before {
		display: none !important;
	}
	.sl-bottom,
	.sl-top {
		border: 0px;
	}
	.loader-text {
		position: absolute;
		left: 50%;
		top: 50%;
		color: #fff;
		z-index: 99999;
		font-size: 19px;
		width: 400px;
		text-align: center;
		margin-left: -200px;
		margin-top: -60px;
	}
	.sp-horizontal .sp-previous-arrow {
		left: 0;
	}
	.sp-horizontal .sp-next-arrow {
		right: 0;
	}
	.owl-theme.owl-carousel {
		margin-left: 0;
	}
	.owl-carousel .owl-item {
		padding-left: 0;
	}
	.footer .footer-section__list li {
		width: 100%;
	}
	.section-default {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.form-search-global__input {
		font-size: 30px;
	}
	.form-search-global__btn {
		top: 0;
		font-size: 18px;
	}
	.block-table_md {
		display: block;
	}
	.b-pricing {
		margin-bottom: 30px;
		padding: 30px 10px 20px;
	}
	.b-works__media {
		width: 300px;
	}
	.b-works:nth-child(odd) .b-works__inner {
		margin-right: 320px;
		margin-left: 0;
		padding-right: 30px;
	}
	.b-works:nth-child(even) .b-works__media {
		margin-left: 0;
	}
	.b-works:nth-child(even) .b-works__inner {
		padding-left: 30px;
		margin-left: 320px;
		margin-right: 0;
	}
	.section-first_type-2 .section-first__inner {
		margin-top: 100px;
	}
	.section-first_type-2 .ui-title-bg {
		margin-top: 20px;
	}
	.section-services {
		margin-top: 30px;
	}
	.section-blockquote {
		padding-left: 20px;
		margin-bottom: 100px;
	}
	.section-blockquote__quote-inner {
		height: 100px;
		display: inline-block;
	}
	.section-form-1__inner {
		padding-right: 10px;
	}
	.section-form-1 .ui-form,
	.section-form-1__description,
	.section-form-1 .ui-subtitle-block {
		padding-left: 0;
	}
	.b-progress-list {
		margin-left: -20px;
		margin-right: 0;
	}
	.b-progress-list__item {
		padding-left: 20px;
	}
	.posts-group {
		padding-bottom: 0;
	}
	.our_collections{
		.grid-sizer,.grid-item{
			width: 100%;
		}
		.b-isotope-grid {
			margin-top: 30px;
		}
	}
	.swimsuits,.moodboard,.gallery_collection{
		.grid-sizer, .grid-item{
			width: 48.77777%;
		}
		.grid-item img {
			width: 100%;
		}
	}
	.ui-subtitle-block {
		margin-bottom: 30px;
	}
	.swim_but {
		margin-bottom: 31px;
	}
	.about_too {
		width: 50%;
		float: left;
	}
	.about .b-post-1 .entry-media {
		display: none;
	}
	.holder .block {
		display: block;
		background: none;
		position: relative;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
	}
	.holder:hover .block {
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
	}
	.section-news .owl-theme .owl-controls {
		bottom: -72px;
		z-index: 2000;
	}
	// .b-isotope-grid__inner {}
	#swimsuits {
		padding-left: 30px;
		padding-right: 30px;
	}
	.carousel-stage li {
		width: 704px;
		text-align: center;
	}
	// .connected-carousels .carousel-navigation {}
	// .connected-carousels .stage {
	// 	text-align: center;
	// }
	// .carousel-navigation li {
	// 	margin: 1px;
	// }
	// .connected-carousels .prev-navigation {
	// 	left: -43px;
	// }
	// .connected-carousels .next-navigation {
	// 	right: -37px;
	// }
	// .connected-carousels .carousel-stage {
	// 	text-align: center;
	// 	width: 704px;
	// 	margin: 0 auto;
	// }
	.video-wrapper>video {
		margin-top: 20px;
	}
	.video-overlay-play-button {
		padding: 10px calc(54% - 54px);
	}
	.b-isotope-grid__title {
		font-size: 16px;
	}
	.section-blockquote-2 {
		padding-top: 35px;
	}
	.collection_wrap .grid-item img {
		width: 100%;
	}
	.l-main-content .m_b {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}
	.container_slo,
	.section-default {
		padding-left: 0;
		padding-right: 0;
	}
}

/* end 991px */

@media (max-width:991px) and (min-width:768px) {
	// .grid-sizer, .grid-item {
	.grid-sizer{
		width: 33.33%;
	}
	.about-carousel{
		.grid-sizer{
			width: 100%;
		}
	}
	// .swimsuits .grid-sizer,.swimsuits .grid-item{
	.swimsuits .grid-sizer{
		width: 32%;
	}
}

/* end 991px-768px */

@media (max-width:767px) {
	.sl-bottom,
	.sl-top {
		border: 0;
	}
	.instagram_photo img {
		padding: 2px;
	}

	.loader-text {
		position: absolute;
		left: 50%;
		top: 50%;
		color: #fff;
		z-index: 99999;
		font-size: 19px;
		width: 300px;
		text-align: center;
		margin-left: -150px;
		margin-top: -60px;
	}
	.block-table_sm {
		display: block;
	}
	.b-isotope__filter li {
		display: block;
		margin-bottom: 10px;
	}
	.grid-sizer, .grid-item, .grid-item_wx2 {
	// .grid-sizer{
		width: 100%;
		float: none;
	}
	.navbar-nav {
		margin: 0;
	}
	.about-author__inner {
		padding-left: 0;
	}
	.comments-list .children {
		margin-left: 20px;
	}
	.nav-tabs li {
		display: block;
	}
	p+p {
		margin-top: 10px;
	}
	.l-theme {
		padding-left: 0;
		padding-right: 0;
	}
	.main-slider,
	.main-slider_lg {
		height: 600px;
	}
	.main-slider__info {
		padding-top: 120px;
	}
	.main-slider_lg .main-slider__info {
		padding-top: 228px;
	}
	.main-slider__title,
	.main-slider_lg .main-slider__title {
		font-size: 30px;
		margin-top: 40px;
	}
	.main-slider__title-emphasis,
	.main-slider_lg .main-slider__title-emphasis {
		display: block;
	}
	.section-first_type-1 .section-first__inner {
		padding-left: 20px;
	}
	.ui-title-bg {
		font-size: 50px;
	}
	.b-progress-list__item {
		float: none;
		width: 100%;
	}
	.b-advantages-1 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.b-advantages-1 .b-advantages__icon {
		right: 10px;
	}
	.section-works__nav {
		position: relative;
		top: 0;
		margin-bottom: 30px;
	}
	.section-works__title-group {
		display: none;
	}
	.b-works:nth-child(odd) .b-works__media,
	.b-works:nth-child(even) .b-works__media {
		float: none;
		width: 100%;
	}
	.b-works:nth-child(odd) .b-works__inner {
		margin-right: 0;
		margin-top: 30px;
	}
	.b-works:nth-child(even) .b-works__inner {
		margin-left: 0;
		margin-top: 30px;
	}
	.ui-subtitle-block {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.b-blockquote-1 .b-blockquote__author {
		padding-right: 0;
		display: block;
	}
	.footer .footer-section_form {
		margin-left: 0;
	}
	.section-first_type-2 .ui-title-inner-2 {
		padding-left: 0;
	}
	.section-isotope {
		padding-top: 20px;
	}
	.b-isotope-filter>li {
		display: block;
		padding-left: 0;
	}
	.b-isotope-filter {
		text-align: center;
		margin-top: 0;
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.b-isotope-filter__title {
		display: none;
	}
	.b-isotope-filter>li>a:after {
		left: -25px;
		top: -2px;
		content: '\f178';
	}
	.section-first_type-2 {
		padding-bottom: 100px;
	}
	.section-first_type-2 .section-first__inner {
		padding-left: 10px;
	}
	.section-first_type-2 .section-first__inner .btn {
		margin-top: 10px;
	}
	.b-advantages-1_mod-a {
		display: block;
		width: 100%;
	}
	.section-services {
		padding-left: 0;
	}
	.b-blockquote-2 blockquote {
		padding: 20px 0 20px 50px;
	}
	.section-form-1__inner {
		padding-left: 15px;
		padding-right: 15px;
	}
	.block-table__inner img {
		width: 100%;
		height: auto;
	}
	.b-title-page {
		font-size: 30px;
	}
	.footer {
		margin-bottom: 0;
	}
	.b-works-details__description dt {
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}
	.b-works-details .ui-title-inner {
		margin-bottom: 5px;
	}
	.b-works-details__description dd {
		margin-left: 0;
	}
	.b-works-details__nav {
		padding-left: 0;
		padding-right: 0;
	}
	.section-first_type-3 .section-first__inner {
		margin-top: 70px;
		padding-left: 0;
	}
	.progress-block-group {
		padding-right: 0;
	}
	.progress-block-group_right {
		padding-left: 0;
	}
	.section-contact .ui-description {
		padding-left: 0;
		padding-right: 0;
	}
	.b-post-full .entry-main {
		padding-left: 0;
	}
	.b-post-full .entry-content {
		padding-right: 0;
	}
	.b-post .entry-meta__item {
		word-spacing: normal;
		display: inline-block;
	}
	blockquote.b-blockquote-post {
		padding-right: 0;
		padding-left: 50px;
	}
	blockquote.b-blockquote-post:after {
		left: 0;
	}
	.b-post-full .post-tags {
		float: none;
		margin-top: 10px;
	}
	.b-post-full .entry-footer__link {
		float: none;
	}
	.comments-list .comment-inner {
		padding-right: 10px;
		padding-left: 20px;
	}
	.comments-list .comment-btn {
		position: relative;
		right: auto;
		top: 0;
		display: block;
		top: 10px;
	}
	.our_collections .grid-item img {
		max-width: 100%;
		height: auto;
	}
	.menu_footer {
		display: none;
	}
	.navbar-brand {
		height: 74px;
		overflow: hidden;
		float: left;
	}
	.header.header-logo-white .normal-logo {
		width: 93px;
	}
	.header .s-links>li>a {
		font-size: 13px;
	}

	.main-slider_lg .main-slider__info {
		padding-top: 166px;
	}
	.instagram_photo {
		// display: block;
		.zoom-images{
			width:32%;
		}
	}
	.instagram .js-zoom-images {
		width: 50%;
		float: left;
	}
	.footer__main .footer__logo {
		height: 70px;
		overflow: hidden;
	}
	.footer__main .img-responsive {
		max-width: 90px;
	}
	.section-form-1 {
		padding-top: 20px;
	}
	// .grid-sizer,
	// .grid-item,
	// .grid-item_wx2 {
	// 	width: 50%;
	// 	float: left;
	// }
	.b-isotope-grid_mod-a {
		margin-bottom: 0;
	}
	.m_b .b-isotope-grid {
		margin-right: 0;
	}
	.m_b .b-isotope-grid_mod-a .b-isotope-grid__inner {
		margin-right: 5px;
		margin-bottom: 10px;
		margin-left: 5px;
	}
	.carousel-stage li {
		width: 500px;
	}
	.connected-carousels .carousel-stage {
		width: 448px;
	}
	.b-isotope-grid__title {
		font-size: 14px;
	}

	.video-overlay-play-button{
		top: 11px;
	}
	.collection_wrap .l-main-content .grid-sizer,
	.collection_wrap .grid-item,
	.collection_wrap .grid-item_wx2 {
		// width: 100%;
		// float: none;
	}
	.section-blockquote-2 {
		margin-bottom: 0;
		padding-bottom: 60px;
	}
	.section-blockquote-2 {
		background-size: cover;
	}
	// body .section-title-page{
	// 	background-image: none!important;
	// 	background-color: #272822;
	// }
	.ul_zoom{
		  justify-content: center;
	}
}

/* end 767px */

@media (max-width:767px) and (min-width:480px) {
	.blocks-inline>li {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.main-slider.sp-horizontal .sp-arrows{
		top: 48.3%;
	}
}
@media (max-width: 600px) {
	.instagram_photo{
		.zoom-images{
			width: 49%;
		}
	}
}
@media (max-width: 540px) {
	.list-inline>li {
		margin-left: 0;
	}

	.main-slider.sp-horizontal .sp-arrows{
		top: 39%;
	}
	// .sp-horizontal .sp-arrows {
	// 	display: none;
	// }
	.b-isotope-grid__title {
		font-size: 18px;
	}
	.b-isotope-grid__info {
		left: 15px;
	}
	.about_too {
		width: 100%;
		float: none;
	}
	.header-boxed-width .header-navibox-1 {
		margin-left: 0;
	}
	.sp-slide p {
		letter-spacing: 3px;
		font-size: 12px;
	}
	.main-slider,
	.main-slider_lg {
		height: 519px;
	}
	.owl-theme .owl-controls {
		position: relative;
	}
	#swimsuits {
		padding-right: 34px;
	}
	.collection_wrap .b-isotope-grid__title {
		font-size: 11px;
	}
	.about-carousel{
		.grid-sizer,.grid-item{
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			&:first-of-type{
				margin-right: 0;
			}
		}
	}
}





@media (max-width: 550px) {
	.connected-carousels .carousel-stage {
		width: 346px;
		height: 365px;
	}
	.carousel-stage li {
		width: 346px;
	}
	.connected-carousels .navigation {
		width: 300px;
	}
	.connected-carousels .carousel-navigation {
		width: 300px;
	}
	.video-overlay-play-button {
	padding: 10px calc(57% - 57px);
}
}




/* end 767px-480px */

@media (max-width:480px) {
	// .navbar-fixed-top,
	.navbar-fixed-bottom {
		position: absolute!important;
	}
	.comments-list .avatar-placeholder {
		float: none;
		margin-bottom: 30px;
	}
	.pagination>li:first-child,
	.pagination>li:last-child {
		display: none;
	}
	.main-slider_lg .main-slider__info {
		font-size: 43px;
	}
	.main-slider__title,
	.main-slider_lg .main-slider__title {
		margin-top: 10px;
	}


	.main-slider_lg .main-slider__info {
		margin-top: 27px;
		margin-bottom: 0;
	}
	// .main-slider .sp-horizontal .sp-arrows{
	// 	top: 39%;
	// }


	#swimsuits {
		padding-left: 5px;
	}
	.b-isotope-grid__inner {
		margin-right: 0;
		margin-bottom: 0;
	}
	.b-isotope-grid__wrap-info {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
	.b-isotope-grid__inner {
		margin: 2px;
	}
	#about .b-isotope-grid {
		margin-right: 0;
	}
	.ui-form-1 .btn {
		margin-top: 27px;
		margin: 10px auto;
		display: block;
	}
	.ui-subtitle-block {
		text-align: center;
		padding-left: 0;
	}
	.swim_but {
		text-align: center;
	}
	#swimsuits {
		padding: 0;
	}
	.swim_but {
		margin-top: 0;
	}
	.b-isotope-grid {
		margin-right: 0;
	}
	.section-s-net .ui-title-block {
		padding-left: 0;
	}
	.our_collections {
		padding-top: 43px;
	}
	.owl-pagination:after {
		display: none;
	}
	.collection_wrap .b-isotope-grid__title {
		display: none;
	}
	.collection_wrap .b-isotope-grid__categorie {
		color: #AC9065;
	}
	.collection_wrap .b-isotope-grid__wrap-info {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	.collection_wrap .b-isotope-grid__wrap-info {
		padding: 0;
	}
	.b-isotope-grid__wrap-info {
		padding: 0;
	}
	#about .b-isotope-grid__title {
		font-size: 12px;
	}
	#about .b-isotope-grid__title {
		border-top: 0;
	}
	.section-news .owl-theme .owl-controls {
		bottom: 0;
	}
	.section-default {
		padding-bottom: 25px;
	}
	.m_b .b-isotope-grid__title {
		font-size: 14px;
	}
}

// @media (max-width: 406px) {
// 	.connected-carousels .carousel-navigation li {
// 		width: 100px;
// 	}
// 	.connected-carousels .navigation {
// 		width: 208px;
// 	}
// 	.connected-carousels .prev-navigation,
// 	.connected-carousels .next-navigation {
// 		top: 28px;
// 	}
// 	.connected-carousels .carousel-stage {
// 		width: 250px;
// 	}
// 	.connected-carousels .stage {
// 		width: 250px;
// 	}
// 	.connected-carousels .carousel-navigation {
// 		width: 208px;
// 	}
// 	.connected-carousels .next-navigation {
// 		right: -29px;
// 	}
// }

@media (max-width: 390px) {
	.navbar-brand {
		height: 60px;
	}
	.navbar-scrolling{
		.navbar-brand{
			height: 66px;
		}
	}
	.header.header-logo-white .normal-logo {
		width: 73px;
	}
	.header .s-links>li>a {
		font-size: 12px;
		padding-right: 0;
	}
	.list-inline>li {
		padding-right: 0;
		padding-left: 5px;
	}
	.main-slider_lg .main-slider__info {
		padding-top: 149px;
	}
}

@media (max-width: 364px){
	.thumbnails a img{
		width: 70px!important;
	}
}

@media (max-width: 360px) {
	.b-isotope-grid__title {
		font-size: 14px;
	}
	.footer__info {
		font-size: 10px;
		letter-spacing: 0;
	}
	.navbar-brand {
		width: 62px;
	}
}
/* end 480px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.sp-button {
		width: 14px;
		height: 14px;
	}
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
	.sp-button {
		width: 16px;
		height: 16px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
	.sp-button {
		width: 18px;
		height: 18px;
	}
}
